@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
$theme-colors: ( "danger": #8ec9f1, "warning": #f3cdff, "success": #ab7ffd);
@import "node_modules/bootstrap/scss/bootstrap";
.alert {
    &-danger {
        background-color: #8ec9f1 !important;
        color: rgb(2, 91, 127) !important;
    }
    &-warning {
        background-color: #f3cdff !important;
        color: #cf41fa !important;
    }
    &-success {
        background-color: #ab7ffd !important;
        color: #340fba !important;
    }
}