body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-image: url('./assets/4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#backgroundVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.calculator {
    background-color: #ffe6f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 320px;
}

#display {
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    font-size: 2em;
    text-align: right;
    padding: 10px;
    margin-bottom: 10px;
    color: #333;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.btn {
    padding: 20px;
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
    background-color: #ffcce0;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
}

.btn:active {
    transform: scale(0.95);
}

.btn:hover {
    background-color: #ffb3c9;
}

.operation {
    background-color: #ff99b6;
}

.operation:hover {
    background-color: #ff80a1;
}

.equal {
    background-color: #ff4d6a;
    grid-row: span 2;
}

.equal:hover {
    background-color: #e63350;
}

.zero {
    grid-column: span 2;
}

.number {
    background-color: #ffcce0;
}

.number:hover {
    background-color: #ffb3c9;
}